/* *{
    background-color: rgb(165, 144, 144);
}


h1{
    color: orange;
}

p{
    color: green;
}

button{
    background-color: blue;
    color: red;
}

.yellow{

    height: 100px;
    width: 100px;
    background-color: #FFDE21;
}

.skyblue{

    height: 100px;
    width: 100px;
    background-color: #87CEEB;
} */

/* 

.center p{
text-align: center;
}


.justify p{
text-align: justify;
} */

/* h1{
    text-shadow: 20px 20px 1px rgb(205, 8, 8);
    text-align: center;
    letter-spacing: 3px;
} */

/* .check:active{
    background-color: red;

} */

/* 
div{
    height: 500px;
    width: 500px;
    background-color: rgb(230, 225, 225);

color: black;
    margin: auto;

    padding: 2px 100px 4px 3px;
    
} */
/* 
.outer {
  height: 500px;
  width: 120px;
  margin: auto;

  margin-top: 100px;
  background-color: black;



}

#inner{

    height: 60px;
    width: 60px;
    border-radius:50% ;
    background-color: white;
    margin: auto;

    margin: 30px;
    margin-top: 20px;


} */

.main {
  height: 500px;
  width: 500px;
  background-color: rgb(212, 212, 105);
  border-radius: 50%;
  margin: auto;
  margin-top: 100px;
  border: 20px solid rgb(199, 16, 16);
}

.eyes {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
}

#left {
  position: relative;

  left: 90px;
}

#right {
  position: relative;

  left: 290px;
  top: 100px;
}



.mouth{
    height: 80px;
    width: 300px;
    background-color: rgb(117, 21, 21);
   border-radius: 0px 0px 50px 50px ;
   position: relative;

   top: 110px;
   left: 90px;
}

